* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.chakras .raiz:hover, .chakras .sacro:hover, .chakras .plexoSolar:hover, .chakras .cardiaco:hover, .chakras .laringeo:hover, .chakras .tercerOjo:hover, .chakras .corona:hover {
  transform: scale(1.1);
  transition: 4s; }

.posturas .definicionSukhasana, .posturas .definicionTadasana, .posturas .definicionBalasana, .posturas .definicionPuente, .posturas .definicionBidalasana, .posturas .definicionCarpa, .posturas .definicionCobra, .posturas .definicionSilla, .posturas .definicionUttasana, .posturas .definicionArbol, .posturas .definicionTriangulo, .posturas .definicionTabla, .posturas .definicionPlancha {
  color: black;
  font-size: x-small;
  text-align: left;
  padding: 0px 10px 0px 50px; }

.fondo .vida .yo, .fondo .vida .viaje, .fondo .vida .meditar, .fondo .vida .profesion {
  font-size: 20px;
  font-style: italic;
  font-size: smaller; }

.fondo .vida .imagen1, .fondo .vida .imagen2, .fondo .vida .imagen3, .fondo .vida .imagen4 {
  display: flex;
  flex-direction: column;
  align-items: center; }

/*registro*/
.registro {
  width: 300px;
  padding: 50px;
  margin: auto;
  background-color: #f3efeb;
  font-size: large;
  font-style: oblique;
  text-align: center; }
  .registro .boton {
    margin: 20px;
    border: 5px;
    border-style: groove; }

/*index*/
.bodys {
  background-color: #f3efeb; }
  .bodys .encabezado {
    background-image: url(../img/F7.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 1rem;
    margin-top: 3rem; }
    .bodys .encabezado .titulo {
      animation: star 10s ease-out infinite;
      display: flex;
      justify-content: center;
      color: #7a8896;
      font-family: 'Cormorant SC', serif;
      text-transform: uppercase;
      font-size: 2rem;
      animation-name: yoga;
      animation-duration: 6s;
      margin-top: 5rem;
      text-align: center; }
    .bodys .encabezado .subtitulo {
      display: flex;
      justify-content: center;
      text-align: center;
      font-family: 'Edu VIC WA NT Beginner', cursive;
      font-size: 1rem;
      padding: 5rem; }
  .bodys .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 0.5fr 0.7fr 0.5fr 0.5fr;
    grid-template-areas: "beneficios beneficios" "parrafo parrafo" "imagen-1 imagen-2"  "imagen-3 imagen-4";
    justify-content: center;
    justify-items: center;
    align-items: center; }
  .bodys .imagen-5 {
    display: none; }
  .bodys .beneficios {
    grid-area: beneficios;
    color: #7a8896;
    font-style: oblique;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px; }
  .bodys .parrafo {
    grid-area: parrafo;
    font-style: oblique;
    text-align: center;
    margin-bottom: 3rem;
    font-size: small; }
  .bodys .imagen-1 {
    grid-area: imagen-1;
    margin: 10px 5px 10px 5px; }
  .bodys .imagen-2 {
    grid-area: imagen-2;
    margin: 10px 5px 10px 5px; }
  .bodys .imagen-3 {
    grid-area: imagen-3;
    margin: 0px 5px 10px 5px; }
  .bodys .imagen-4 {
    grid-area: imagen-4;
    margin: 0px 5px 10px 5px; }
  .bodys .item-fixed {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 5%; }
  .bodys .global:hover {
    transform: scale(1.5); }

@keyframes yoga {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em); } }
  .bodys .namaste {
    text-align: center;
    font-size: small;
    color: brown;
    font-style: italic;
    margin-bottom: 2rem; }
  .bodys .namaste:hover {
    transform: rotate(360deg);
    transition: 4s; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-size: x-small; }

.footer ul li {
  list-style: none; }

/*general*/
.head {
  font-size: smaller;
  color: #7a8896;
  background-image: linear-gradient(to bottom, #c2bcbc, white);
  border-style: double;
  margin-bottom: 20px;
  padding: 30px 0px 30px 0px;
  display: flex;
  justify-content: center; }

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  section .textos {
    font-size: x-small;
    margin: 10px 50px 0px 50px;
    padding: 10px 10px 10px 10px;
    border-style: dotted; }

.subtitulos {
  color: #7a8896;
  font-family: 'Cormorant SC', serif;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  text-decoration: underline;
  font-size: small;
  margin: 10px 0px 10px 0px;
  text-align: center; }

.navegacion {
  display: flex;
  justify-content: center;
  margin-top: 10%; }

.yogas {
  font-size: small; }

main .lista {
  list-style: none;
  font-style: oblique; }

main .sub {
  text-decoration: underline; }

main .frase {
  font-style: italic;
  margin: 3rem 5rem 3rem 5rem;
  background-color: #e9e993; }

/*que es el yoga*/
.grid-1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 0.5fr 0.4fr 0.3fr 0.3fr 0.3fr 0.3fr;
  grid-template-areas: "subtitulos subtitulos subtitulos subtitulos" "parrafo2 parrafo2 parrafo2 parrafo2" "tipo-1 tipo-1 tipo-2 tipo-2"  "tipo-3 tipo-4 tipo-4 tipo-5" "tipo-6 tipo-6 tipo-7 tipo-7" "imagen-a imagen-a imagen-b imagen-b";
  justify-content: center;
  justify-items: center;
  align-items: center; }
  .grid-1 .subtitulos {
    grid-area: subtitulos; }
  .grid-1 .parrafo2 {
    grid-area: parrafo2;
    font-size: small;
    margin: 0px 30px 0px 30px;
    text-align: center; }
  .grid-1 .tipo-1 {
    grid-area: tipo-1;
    font-size: small;
    background-color: #eeb6ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    padding: 5px 5px 5px 5px; }
  .grid-1 .tipo-2 {
    grid-area: tipo-2;
    font-size: small;
    background-color: #eeb6ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    padding: 5px 5px 5px 5px; }
  .grid-1 .tipo-3 {
    grid-area: tipo-3;
    font-size: small;
    background-color: #eeb6ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    padding: 5px 5px 5px 5px; }
  .grid-1 .tipo-4 {
    grid-area: tipo-4;
    font-size: small;
    background-color: #eeb6ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    padding: 5px 5px 5px 5px; }
  .grid-1 .tipo-5 {
    grid-area: tipo-5;
    font-size: small;
    background-color: #eeb6ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    padding: 5px 5px 5px 5px; }
  .grid-1 .tipo-6 {
    grid-area: tipo-6;
    font-size: small;
    background-color: #eeb6ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    padding: 5px 5px 5px 5px; }
  .grid-1 .tipo-7 {
    grid-area: tipo-7;
    font-size: small;
    background-color: #eeb6ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 25px;
    padding: 5px 5px 5px 5px; }
  .grid-1 .imagen-a {
    grid-area: imagen-a; }
  .grid-1 .imagen-b {
    grid-area: imagen-b; }
  .grid-1 .imagen-c {
    display: none; }
  .grid-1 .imagen-d {
    display: none; }
  .grid-1 .tipo-1:hover {
    transform: rotate(-10deg);
    box-shadow: 1px 1px #7c6464; }
  .grid-1 .tipo-3:hover {
    transform: rotate(-10deg);
    box-shadow: 1px 1px #7c6464; }
  .grid-1 .tipo-6:hover {
    transform: rotate(-10deg);
    box-shadow: 1px 1px #7c6464; }
  .grid-1 .tipo-2:hover {
    transform: rotate(10deg);
    box-shadow: 1px 1px #7c6464; }
  .grid-1 .tipo-5:hover {
    transform: rotate(10deg);
    box-shadow: 1px 1px #7c6464; }
  .grid-1 .tipo-7:hover {
    transform: rotate(10deg);
    box-shadow: 1px 1px #7c6464; }
  .grid-1 .tipo-4:hover {
    transform: scale(0deg);
    box-shadow: 1px 1px #7c6464; }

/*chakras*/
.chakras {
  font-size: x-small;
  background-image: url(../img/chakras.png);
  background-image: none;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  list-style: none;
  margin: 1rem 3rem 1rem 3rem;
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: "corona corona" "tercerOjo laringeo" "cardiaco cardiaco" "plexoSolar sacro" "raiz raiz";
  justify-content: center;
  justify-items: center;
  align-items: center; }
  .chakras .raiz {
    grid-area: raiz;
    color: red;
    font-family: 'Inconsolata', monospace;
    text-align: center; }
  .chakras .sacro {
    grid-area: sacro;
    color: orangered;
    font-family: 'Inconsolata', monospace; }
  .chakras .plexoSolar {
    grid-area: plexoSolar;
    color: #bebe03;
    font-family: 'Inconsolata', monospace; }
  .chakras .cardiaco {
    grid-area: cardiaco;
    color: green;
    font-family: 'Inconsolata', monospace;
    text-align: center; }
  .chakras .laringeo {
    grid-area: laringeo;
    color: #60c8eb;
    font-family: 'Inconsolata', monospace; }
  .chakras .tercerOjo {
    grid-area: tercerOjo;
    color: blue;
    font-family: 'Inconsolata', monospace; }
  .chakras .corona {
    grid-area: corona;
    color: blueviolet;
    font-family: 'Inconsolata', monospace;
    text-align: center; }

/*posturas*/
.posturas {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-areas: "sukhasana sukhasana" "img-1 definicionSukhasana" "tadasana tadasana" "img-2 definicionTadasana" "balasana balasana" "img-3 definicionBalasana" "puente puente" "img-4 definicionPuente" "bidalasana bidalasana" "img-5 definicionBidalasana" "carpa carpa" "img-6 definicionCarpa" "cobra cobra" "img-7 definicionCobra" "silla silla" "img-8 definicionSilla" "uttasana uttasana" "img-9 definicionUttasana" "arbol arbol" "img-10 definicionArbol" "triangulo triangulo" "img-11 definicionTriangulo" "tabla tabla" "img-12 definicionTabla" "plancha plancha" "img-13 definicionPlancha";
  justify-content: center;
  justify-items: center;
  align-items: center; }
  .posturas .sukhasana {
    grid-area: sukhasana;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #86ccb5; }
  .posturas .img-1 {
    grid-area: img-1;
    padding-left: 10px; }
  .posturas .definicionSukhasana {
    grid-area: definicionSukhasana; }
  .posturas .tadasana {
    grid-area: tadasana;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #cea8f1; }
  .posturas .img-2 {
    grid-area: img-2;
    padding-left: 20px; }
  .posturas .definicionTadasana {
    grid-area: definicionTadasana; }
  .posturas .balasana {
    grid-area: balasana;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #f0d896; }
  .posturas .img-3 {
    grid-area: img-3;
    padding-left: 30px; }
  .posturas .definicionBalasana {
    grid-area: definicionBalasana; }
  .posturas .puente {
    grid-area: puente;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #f096a5; }
  .posturas .img-4 {
    grid-area: img-4;
    padding-left: 40px; }
  .posturas .definicionPuente {
    grid-area: definicionPuente; }
  .posturas .bidalasana {
    grid-area: bidalasana;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #8292eb; }
  .posturas .img-5 {
    grid-area: img-5;
    padding-left: 20px; }
  .posturas .definicionBidalasana {
    grid-area: definicionBidalasana; }
  .posturas .carpa {
    grid-area: carpa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #92f38e; }
  .posturas .img-6 {
    grid-area: img-6;
    padding-left: 30px; }
  .posturas .definicionCarpa {
    grid-area: definicionCarpa; }
  .posturas .cobra {
    grid-area: cobra;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #fd3d3d; }
  .posturas .img-7 {
    grid-area: img-7;
    padding-left: 40px; }
  .posturas .definicionCobra {
    grid-area: definicionCobra; }
  .posturas .silla {
    grid-area: silla;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #f51c9a; }
  .posturas .img-8 {
    grid-area: img-8;
    padding-left: 20px; }
  .posturas .definicionSilla {
    grid-area: definicionSilla; }
  .posturas .uttasana {
    grid-area: uttasana;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #ca1cf5; }
  .posturas .img-9 {
    grid-area: img-9;
    padding-left: 20px; }
  .posturas .definicionUttasana {
    grid-area: definicionUttasana; }
  .posturas .arbol {
    grid-area: arbol;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #1cdcf5; }
  .posturas .img-10 {
    grid-area: img-10;
    padding-left: 30px; }
  .posturas .definicionArbol {
    grid-area: definicionArbol; }
  .posturas .triangulo {
    grid-area: triangulo;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #a9f51c; }
  .posturas .img-11 {
    grid-area: img-11;
    padding-left: 30px; }
  .posturas .definicionTriangulo {
    grid-area: definicionTriangulo; }
  .posturas .tabla {
    grid-area: tabla;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #d37e0e; }
  .posturas .img-12 {
    grid-area: img-12;
    padding-left: 40px; }
  .posturas .definicionTabla {
    grid-area: definicionTabla; }
  .posturas .plancha {
    grid-area: plancha;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    color: #363431; }
  .posturas .img-13 {
    grid-area: img-13;
    padding-left: 40px; }
  .posturas .definicionPlancha {
    grid-area: definicionPlancha; }
  .posturas .img:hover {
    transform: scale(1.5); }

/*meditacion*/
.item-2 {
  font-size: x-small; }

/*sobre mi*/
.fondo {
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .fondo .vida {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2fr 2fr 2fr 2fr;
    grid-template-areas: "imagen1 yo" "viaje imagen2" "imagen3 meditar" "profesion imagen4";
    justify-content: center;
    align-items: center;
    margin: 0px 30px 0px 30px; }
    .fondo .vida .yo {
      grid-area: yo; }
    .fondo .vida .imagen1 {
      grid-area: imagen1; }
    .fondo .vida .viaje {
      grid-area: viaje; }
    .fondo .vida .imagen2 {
      grid-area: imagen2; }
    .fondo .vida .meditar {
      grid-area: meditar; }
    .fondo .vida .imagen3 {
      grid-area: imagen3; }
    .fondo .vida .profesion {
      grid-area: profesion; }
    .fondo .vida .imagen4 {
      grid-area: imagen4; }

/*medias query*/
@media screen and (min-width: 1000px) {
  .yogas {
    font-size: large; } }

/*media-index*/
@media screen and (min-width: 600px) {
  .bodys .encabezado {
    padding: 5rem 5rem 5rem 5rem; }
  .bodys .beneficios {
    font-size: 2.5rem; }
  .bodys .parrafo {
    margin: 0rem 2rem 5rem 2rem; }
  .bodys .grid {
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "beneficios beneficios beneficios beneficios" "parrafo parrafo parrafo parrafo" "imagen-1 imagen-2 imagen-3 imagen-4"; }
  .bodys .namaste {
    font-size: large; } }

@media screen and (min-width: 1000px) {
  .bodys .grid {
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas: "beneficios beneficios beneficios beneficios beneficios" "parrafo parrafo parrafo parrafo parrafo" "imagen-1 imagen-2 imagen-3 imagen-4 imagen-5"; }
  .bodys .imagen-5 {
    display: block;
    grid-area: imagen-5; }
  .bodys .container main .titulo {
    font-size: 5rem; }
  .bodys .container main .subtitulo {
    font-size: 2rem; }
  .bodys .parrafo {
    margin: 0rem 10rem 5rem 10rem;
    font-size: large; } }

@media screen and (min-width: 600px) {
  body .grid-1 {
    grid-template-areas: "subtitulos subtitulos subtitulos subtitulos" "parrafo2 parrafo2 parrafo2 parrafo2" "tipo-1 tipo-1 tipo-2 tipo-2"  "tipo-3 tipo-4 tipo-4 tipo-5" "tipo-6 tipo-6 tipo-7 tipo-7" "imagen-a imagen-b imagen-b imagen-c"; }
    body .grid-1 .subtitulos {
      font-size: 2rem; }
    body .grid-1 .parrafo2 {
      font-size: large; }
    body .grid-1 .tipos {
      font-size: large; }
    body .grid-1 .imagen-c {
      display: block;
      grid-area: imagen-c; } }

@media screen and (min-width: 1000px) {
  body .grid-1 {
    grid-template-areas: "subtitulos subtitulos subtitulos subtitulos" "parrafo2 parrafo2 parrafo2 parrafo2" "tipo-1 tipo-1 tipo-2 tipo-2"  "tipo-3 tipo-4 tipo-4 tipo-5" "tipo-6 tipo-6 tipo-7 tipo-7" "imagen-a imagen-b imagen-c imagen-d"; }
    body .grid-1 .tipos {
      font-size: x-large; }
    body .grid-1 .imagen-c {
      display: block;
      grid-area: imagen-c; }
    body .grid-1 .imagen-d {
      display: block;
      grid-area: imagen-d; } }

/*media-chakras*/
@media screen and (min-width: 600px) {
  .chakras {
    font-size: smaller;
    background-image: url(../img/chakras.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center; }
  .container .textos {
    font-size: smaller; } }

@media screen and (min-width: 1000px) {
  .chakras {
    font-size: large;
    background-image: url(../img/chakras.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    padding: 2rem 0rem 0rem 2rem; }
  .container .textos {
    font-size: large; } }

/*media-posturas*/
@media screen and (min-width: 600px) {
  section .subtitulos {
    font-size: large; }
  .container .asana {
    font-size: small;
    margin: 10px 0px 10px 0px; } }

@media screen and (min-width: 1000px) {
  section .subtitulos {
    font-size: x-large; }
  .container .asana {
    font-size: x-large;
    margin: 10px 0px 10px 0px; }
  .container div nav ul li {
    font-size: large; } }

/*media-meditacion*/
@media screen and (min-width: 600px) {
  .tipos {
    font-size: large; }
  .textos {
    font-size: smaller; } }

@media screen and (min-width: 1000px) {
  .tipos1 {
    font-size: x-large; }
  .textos {
    font-size: large; }
  .item-2 {
    font-size: large; } }

/*media-sobre mi*/
@media screen and (min-width: 600px) {
  .fondo .vida .yo {
    font-size: large; }
  .fondo .vida .viaje {
    font-size: large; }
  .fondo .vida .meditar {
    font-size: large; }
  .fondo .vida .profesion {
    font-size: large; } }
